<h2>Create new celebrity</h2>

<form method="POST" action="/celebrities/create">
  <label> Celebrity's name</label>
  <input type="text" name="name" placeholder="Tom Cruise" />
  <label>Celebrity's occupation</label>
  <input type="text" name="occupation" placeholder="Actor" />
  <label>Famous phrase</label>
  <input type="text" name="catchPhrase" placeholder="Show me the money!" />
  <button>Create</button>
</form>